[toc]

# Shell 字符串

字符串可以用单引号，也可以用双引号，也可以不用引号。单双引号的区别跟PHP类似

Shell不像其他语言有php、python 有很多数据类型，在Shell中常用的数据类型字符串数字和字符串（ps: 除了数字和字符串，也没啥其它类型好用了，哈哈）

单引号字符串的限制：

*   单引号里的任何字符都会原样输出，单引号字符串中的变量是无效的
*   单引号字串中不能出现单引号（对单引号使用转义符后也不行

双引号：

*   双引号里可以有变量
*   双引号里可以出现转义字符

## 字符串操作

### 拼接字符串

拼接字符串什么都不加，直接连起来写就可以了

In [6]:
%%!

my_name="jack"
my_age="20岁"
echo $my_name $my_age
echo $my_name$my_age

['jack 20岁', 'jack20岁']

### 获取字符串长度

In [5]:
%%!

my_name="jack"
echo ${#my_name}

['4']

### 截取字符串

In [10]:
%%!

my_name="jack"
echo ${my_name:0:2} # 注意下表是从零开始并且左闭右开

['ja']

去掉最后一个字符

In [11]:
%%!

my_name="jack,"
echo ${my_name:0:${#my_name}-1}

['jack']

### 字符串替换

In [12]:
%%!

my_name="jackjack"
echo ${my_name/a/b}

['jbckjack']

替换所有单词

In [13]:
%%!

my_name="jackjack"
echo ${my_name//a/b}

['jbckjbck']

In [41]:
%%!

myname="jackjack"

for name in ${myname//a/ }; do
    echo $name
done

['j', 'ckj', 'ck']

# References
[shell - How do I split a string on a delimiter in Bash? - Stack Overflow](https://stackoverflow.com/questions/918886/how-do-i-split-a-string-on-a-delimiter-in-bash)