---
title: Pandas sort
tags: 小书匠,pandas,sort,dataframe,series,rank,sort_values
grammar_cjkRuby: true
renderNumberedHeading: true
---

[toc!]


# Pandas Sort

## Series 排序

In [2]:
import pandas as pd

s = pd.Series([10,12,9,9,14,4,2,4,9,1])

In [3]:
s.rank() # 求 rank

0     8.0
1     9.0
2     6.0
3     6.0
4    10.0
5     3.5
6     2.0
7     3.5
8     6.0
9     1.0
dtype: float64

In [4]:
s.rank(ascending=False) # 指定值越大的rank小

0     3.0
1     2.0
2     5.0
3     5.0
4     1.0
5     7.5
6     9.0
7     7.5
8     5.0
9    10.0
dtype: float64

## Dataframe 排序

In [5]:
import pandas as pd

df = {
    'Score':[98,76,84,70,93,83],
    'Subject':['Literature','History','Enlish','Maths','Physics','Chemics'],
     'Name':['Zhang San','Li Si','Wang Laowu','Zhao Liu','Qian Qi','Sun Ba'],
}
scoresheet = pd.DataFrame(df, index=['No2', 'No3', 'No1', 'No6', 'No5', 'No4'])
scoresheet

     Score     Subject        Name
No2     98  Literature   Zhang San
No3     76     History       Li Si
No1     84      Enlish  Wang Laowu
No6     70       Maths    Zhao Liu
No5     93     Physics     Qian Qi
No4     83     Chemics      Sun Ba

In [6]:
scoresheet.sort_index() # 对行 index 排序

     Score     Subject        Name
No1     84      Enlish  Wang Laowu
No2     98  Literature   Zhang San
No3     76     History       Li Si
No4     83     Chemics      Sun Ba
No5     93     Physics     Qian Qi
No6     70       Maths    Zhao Liu

In [7]:
scoresheet.sort_index(axis=1, ascending=False) # 对列 index 排序，即对 columns 排序

        Subject  Score        Name
No2  Literature     98   Zhang San
No3     History     76       Li Si
No1      Enlish     84  Wang Laowu
No6       Maths     70    Zhao Liu
No5     Physics     93     Qian Qi
No4     Chemics     83      Sun Ba

对 index 的情况不多，更多的是需要对 values 进行排序

In [8]:
scoresheet.sort_values(by='Score')

     Score     Subject        Name
No6     70       Maths    Zhao Liu
No3     76     History       Li Si
No4     83     Chemics      Sun Ba
No1     84      Enlish  Wang Laowu
No5     93     Physics     Qian Qi
No2     98  Literature   Zhang San