[toc]

# pandas 数据类型

## .astype

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    'col1': [1,2,3,4],
    'col2': [4,2,3,1],
    'col3': [3,1,4,2]
})

In [5]:
# 单行数据进行转换
df['col3'] = df['col3'].astype(int)

In [6]:
# 多列进行数据转换
df = df.astype({"col1": "int8", 'col2': float})

In [16]:
## select_dtypes() 筛选特定数据的特征

df.select_dtypes(include=['int'])
df.select_dtypes(exclude=['int'])
df.select_dtypes(include=['number']) # 筛选所有数值类型特征
df.select_dtypes(include=['object']) # 筛选所有 object 类型的列

   col3
0     3
1     1
2     4
3     2

   col1  col2
0     1   4.0
1     2   2.0
2     3   3.0
3     4   1.0

   col1  col2  col3
0     1   4.0     3
1     2   2.0     1
2     3   3.0     4
3     4   1.0     2

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]