In [ ]:
---
title: Pandas DataFrame 删除行列
tags: 小书匠,pandas,drop,dataframe
grammar_cjkRuby: true
renderNumberedHeading: true
---

[toc!]

# Pandas DataFrame 删除行列

## 使用 drop

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(12).reshape(3,4), columns=['A', 'B', 'C', 'D'])
print(df)

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

## 删除行

In [3]:
# method1
df.drop([0, 1])

# method2
df.drop(index=[0, 1])

   A  B   C   D
2  8  9  10  11

In [4]:
# method2
df.drop(index=[0, 1])

   A  B   C   D
2  8  9  10  11

## 删除列

In [5]:
# method1
df.drop(['B', 'C'], axis=1)
# method2
df.drop(columns=['B', 'C'])

   A   D
0  0   3
1  4   7
2  8  11

第一种方法下删除column一定要指定axis=1,否则会报错

```
df.drop(['B', 'C'])
```

报错 KeyError: "['B' 'C'] not found in axis"

## inplace 原地删除

In [6]:
df.drop(columns=['A'], inplace=True)
print(df)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

## 按照条件筛选

In [7]:
x = pd.DataFrame({"col": [1,2,3]})
def delete1(x):
    x.drop(x.index[x['col']==1], inplace=True)

delete1(x)
print(x)

   col
1    2
2    3

下面这种无法达到目的

In [8]:
x = pd.DataFrame({"col": [1,2,3]})
def delete2(x):
    x = x[x['col']==1]
delete2(x)
print(x)

   col
0    1
1    2
2    3



# References
1. [Python中pandas dataframe删除一行或一列：drop函数_Python_海晨威-CSDN博客](https://blog.csdn.net/songyunli1111/article/details/79306639)