---
title:  Pandas index 操作
tags: 小书匠,pandas,index,reset_index
grammar_cjkRuby: true
renderNumberedHeading: true
---

[toc!]

## reset_index

reset_index 操作通常会和 groupby、apply 一起使用。因为 groupby + apply 之后，index 默认会用 groupby 的 key，有时我们需要将其设置为默认 index

### 将 index 转换为数据中的一列

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"name": ["edward", "elric"], "age": [12, 13]}, index=['A', 'B'])
print(df)

如果我们想要更换 index 为 0,1,2 这样的序号，可以用

In [6]:
df.reset_index()

  index    name  age
0     A  edward   12
1     B   elric   13

可以看到，原来的 index 变成了数据中的一列，而新的 index 是默认的 0,1,2..

### 不转换为一列直接去掉 index

In [11]:
df.reset_index(drop=True)

     name  age
0  edward   12
1   elric   13