[toc]

# Pandas apply

注意， 有 Sereis 有 apply 方法，DataFrame 也有 apply 方法。


## 使用多列生成一列

参考 [1]

有时，需要使用多列来组合生成新的一列。可以使用 axis=1

In [1]:
import pandas as pd
data = {"col1": [1,2,3], "col2": [4,5,6]}
df = pd.DataFrame(data)
df.apply(lambda x: x['col1'] + x['col2'], axis=1)

0    5
1    7
2    9
dtype: int64

## 一列返回多列返回多列

两种方式：

### 使用 result_type="expand"

In [21]:
df.apply(lambda x: (x['col1'], x['col2']), axis=1) # 没有 expand

0    (1, 4)
1    (2, 5)
2    (3, 6)
dtype: object

如果添加 `result_type="expand"`，返回的多个结果会被当成多列

In [24]:
df.apply(lambda x: (x['col1']*2, x['col1']*4), axis=1, result_type="expand")

   0   1
0  2   4
1  4   8
2  6  12

返回 dict 可以指定列名

In [25]:
df.apply(lambda x: {"col1*2": x['col1']*2, "col1*4": x['col1']*4}, axis=1, result_type="expand")

   col1*2  col1*4
0       2       4
1       4       8
2       6      12

# References

1.  [pandas apply使用多列计算生成新的列_wolf1132的博客-CSDN博客_apply函数 两个字段求和 python2.7](https://blog.csdn.net/wolf1132/article/details/90543863)