In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(np.arange(12).reshape(3,4), columns=['A', 'B', 'C', 'D'])
print(df)

A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

删除列

In [7]:
df.drop(['B', 'C'], axis=1)

   A   D
0  0   3
1  4   7
2  8  11

In [8]:
df.drop(columns=['B', 'C'])

   A   D
0  0   3
1  4   7
2  8  11

删除行

In [10]:
df.drop([0, 1])

# method2
df.drop(index=[0, 1])

   A  B   C   D
2  8  9  10  11

## inplace

drop 操作不会改变原数组，而是返回 drop 后的新数组。可以使用 inplace=True 来原地修改