# Pandas Sort

## sort_index()

In [1]:
import pandas as pd

In [2]:
dfdata = {
    'Score':[98,76,84,76,93,83],
    'Subject':['Literature','Maths','Enlish','History','Physics','Chemics'],
     'Name':['Zhang San','Li Si','Wang Laowu','Zhao Liu','Qian Qi','Sun Ba'],
}
scoresheet = pd.DataFrame(dfdata, index=['No2', 'No3', 'No1', 'No6', 'No5', 'No4'])
scoresheet

           Name  Score     Subject
No2   Zhang San     98  Literature
No3       Li Si     76       Maths
No1  Wang Laowu     84      Enlish
No6    Zhao Liu     76     History
No5     Qian Qi     93     Physics
No4      Sun Ba     83     Chemics

In [3]:
scoresheet.sort_index() # 对行 index 排序

           Name  Score     Subject
No1  Wang Laowu     84      Enlish
No2   Zhang San     98  Literature
No3       Li Si     76       Maths
No4      Sun Ba     83     Chemics
No5     Qian Qi     93     Physics
No6    Zhao Liu     76     History

In [4]:
scoresheet.sort_index(axis=1, ascending=False) # 对列 index 排序，即对 columns 排序

        Subject  Score        Name
No2  Literature     98   Zhang San
No3       Maths     76       Li Si
No1      Enlish     84  Wang Laowu
No6     History     76    Zhao Liu
No5     Physics     93     Qian Qi
No4     Chemics     83      Sun Ba

## sort_values

对 index 的情况不多，更多的是需要对 values 进行排序

In [5]:
scoresheet.sort_values(by='Score')

           Name  Score     Subject
No3       Li Si     76       Maths
No6    Zhao Liu     76     History
No4      Sun Ba     83     Chemics
No1  Wang Laowu     84      Enlish
No5     Qian Qi     93     Physics
No2   Zhang San     98  Literature

In [10]:
scoresheet.sort_values(by=['Score', 'Subject']) # 指定多个列排序

           Name  Score     Subject
No6    Zhao Liu     76     History
No3       Li Si     76       Maths
No4      Sun Ba     83     Chemics
No1  Wang Laowu     84      Enlish
No5     Qian Qi     93     Physics
No2   Zhang San     98  Literature

注意：排序时 NaN 会被放在数组的末尾

## rank

In [7]:
rrank = pd.Series([10,12,9,9,14,4,2,4,9,1])
rrank

0    10
1    12
2     9
3     9
4    14
5     4
6     2
7     4
8     9
9     1
dtype: int64

In [8]:
rrank.rank() # 求 rank

0     8.0
1     9.0
2     6.0
3     6.0
4    10.0
5     3.5
6     2.0
7     3.5
8     6.0
9     1.0
dtype: float64

In [9]:
rrank.rank(ascending=False) # 指定值越大的rank小

0     3.0
1     2.0
2     5.0
3     5.0
4     1.0
5     7.5
6     9.0
7     7.5
8     5.0
9    10.0
dtype: float64

In [13]:
# 指定存在 tie 时的处理方法
rrank.rank(method='average')
rrank.rank(method='min')
rrank.rank(method='max')

0     8.0
1     9.0
2     6.0
3     6.0
4    10.0
5     3.5
6     2.0
7     3.5
8     6.0
9     1.0
dtype: float64

0     8.0
1     9.0
2     5.0
3     5.0
4    10.0
5     3.0
6     2.0
7     3.0
8     5.0
9     1.0
dtype: float64

0     8.0
1     9.0
2     7.0
3     7.0
4    10.0
5     4.0
6     2.0
7     4.0
8     7.0
9     1.0
dtype: float64